.formLogin_main{
    background-color: #fff;
    padding: 10px 10px;
}

.formLogin__section_header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formLofin_header-img{
    width: 100px;
    margin: 10px 0px;
}

.formLogin_welcome_tittle{
    font-family: $font-poppins;
    font-weight: 800;
}

.label_form{
    font-family: $font_lato ;

}

.span_form{
    font-weight: 300;
}


