.headerDashBoard-main{
    height: 100%;
    overflow: hidden;
    position: relative;
    // border: 1px solid red;
}

.img__background-headerDashBoard{
    width: 100%;
    object-position: center;
    height: 100%;
    object-fit: cover;
    position: absolute;
    
    z-index: 0;
}