.DashBoardScreen_main{
    border: 1px solid red;
    display: grid;
    grid-template: "topNav          topNav"             auto
                    "sideBar_right   taskListContent"    850px /
                    25%            auto;
}

.navBard_wrapper{
    grid-area: topNav;
}

.sideBar_right{
    background-color: rebeccapurple;
    grid-area: sideBar_right;
}

.taskListContent{
    background-color: rgb(247, 247, 247);
    grid-area: taskListContent;
    display: grid;
    grid-template: "taskList-header" 15%
                   "taskList-content" auto /
                    auto;
}

.DashBoardScreen_taskList-header{
    grid-area: taskList-header;
    background-color: slateblue;
}

.DashBoardScreen_taskList-content{
    grid-area: taskList-content;
    border: 1px solid turquoise;

}


.TaskEventTimeLine_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid green;

}


.wrapper__quotes{
    text-align: center;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    // border: 1px solid green;
    align-items: center;
}

.wrapper__quotes > h1{
    font-family: sans-serif;
    margin-bottom: 35px;
}

.wrapper__line__quotes{
    position: relative;
    width: 75%;
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    align-items: center;
}

.wrapper__line__quotes > ul{
    position: relative;
    width: 100%;
    // border: 1px solid rgb(231, 188, 131);
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.wrapper__line__quotes > ul::before{
    content: "";
    background-color: rgb(219, 219, 219);
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: calc(85% + 11px);
}

.wrapper__line__quotes > ul > li{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 6px 6px 17px -6px rgba(0,0,0,0.4);
    font-family: sans-serif;
    position: relative;
    font-style: italic;
    align-self: flex-end;
    width: 85%;
    margin-bottom: 15px;
    text-align: justify;
    // border: 1px solid red;
}


.wrapper__line__quotes > ul > li::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(16, 179, 243);
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: translateX(-18px);
    border: 1px solid black;
}


.label-hours{
    position: absolute;
    top: -4px;
    left: 0;
    transform: translateX(-61px);
    color: red;
    font-size: 11px;
}

.title-note{
    border-bottom: 1px solid lighten($color: gray, $amount: 30);
}

.tags-divider{
    font-size: 11px !important;
    margin: 5px 0px !important;
}



@media screen and (max-width: 768px) {
    .DashBoardScreen_main{
        grid-template: "topNav"             auto
                    "taskListContent"    850px /
                    auto;
        
    }
}