.DashBoardScreen_main{
    // border: 1px solid red;
    display: grid;
    grid-template: "topNav          topNav"             auto
                    "sideBar_right   taskListContent"    850px /
                    25%            auto;
}

.navBard_wrapper{
    grid-area: topNav;

}

.sideBar_right{
    grid-area: sideBar_right;
    background-color: rgba(247, 247, 247, 0.5);
    border-right: 0.5px solid rgb(219, 219, 219);

}

.taskListContent{
    background-color: rgba(247, 247, 247, 0.5);
    grid-area: taskListContent;
    display: grid;
    grid-template: "taskList-header" 25%
                   "taskList-content" auto /
                    auto;
}

.DashBoardScreen_taskList-header{
    grid-area: taskList-header;
}

.DashBoardScreen_taskList-content{
    grid-area: taskList-content;

}


.TaskEventTimeLine_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid green;

}





@media screen and (max-width: 768px) {
    .DashBoardScreen_main{
        grid-template: "topNav"             auto
                    "taskListContent"    850px /
                    auto;
        
    }
}