.registerScreen_main{
    background: $primary;
    border: 1px solid red;
    padding-bottom: 20px;
    min-height: 100vh;

}

.registerScreen_form_view{
    background-color: transparent !important;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid aqua;
}

.registerScreen_viewForm{
    margin-bottom: 0px !important;
}

.registerScreen_img_section{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerScreen_img_section > img{
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .registerScreen_form_view{
        margin: 80px 5%;
    }
}

@media screen and (min-width: 769px) {
    .registerScreen_form_view{
        width: 80%;
        margin: 30px auto;
        overflow: hidden;
    }

    .registerScreen_img_section{
        height: 750px;
    }

    .registerScreen_viewForm{
        height: 750px;
        border-radius: 0px;
    }
}

