@import './settings';

*{
    font-family: $font-poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    width: 100% !important;
}


.main{
    width: 100%;
}

.mt-1{
    margin-top: 5px;
}

.mt-5{
    margin-top: 20px;
}

.mb-1{
    margin-bottom: 5px;
}

.mb-5{
    margin-bottom: 20px;
}

.pointer{
    cursor: pointer;
}

