@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Poppins:wght@400;800&display=swap');


//colors
$primary: #FFB377;
$dark-gray: #363636;
$light-gray: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;


//fonts
$font_poppins: 'Poppins', sans-serif;
$font_lato: 'Lato', sans-serif;
